* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #7570a0;
  /* Updated background color */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  /* Container background color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#score-container {
  position: absolute;
  width: 3em;
  padding: 0.5em;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  left: 1em;
  top: 1em;
  border-radius: 0.3em;
}

#start-button {
  background-color: #775e5b;
  border: none;
  padding: 1em 2em;
  font-size: 1.2em;
  border-radius: 0.3em;
  color: #ffffff;
  cursor: pointer;
}

.cover-screen {
  background-color: #fff;
  /* Updated background color */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.fruit {
  display: block;
  position: absolute;
  bottom: 0;
  animation: float 3s linear infinite;
  width: 80px;
}

@keyframes float {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 100%;
    display: none;
  }
}

@media (max-width: 600px) {
  #score-container {
    left: 0.5em;
    top: 0.5em;
  }

  #start-button {
    font-size: 1em;
    padding: 0.8em 1.5em;
  }

  .fruit {
    width: 60px;
    animation: float 2s linear infinite;
  }
}